*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x:hidden ;
}

main{
    width: 1280px;
    margin: auto;
}

#header{
    width: 100%;
    min-height:70px;
    border: 2px solid black;
}

#home, #aboutUs, #products, #contactUs{
    width:100%;
    height: 720px;
    border: 2px solid black;
}